@import "Bases/font";
@import "Utils/variables";
@import "Utils/mixins";
@import "Utils/keyframes";
@import "Bases/base";
@import "Components/button";
@import "Components/animation";
@import "Pages/index";
@import "Pages/menus";
@import "Layout/loader";
@import "Layout/header";
@import "Layout/footer";



@media screen and (min-width: 600px) {
    .restaurant_list_card {
        margin: 2rem 1rem;
    }
    .footer {
        @include flexbox-center;
        &_bloc {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_link {
            display: flex;
            justify-content: space-between;
        }
    }

}

@media screen and (min-width: 800px) {
    .section_menu_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }

    .restaurant_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #list-card-2 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    #list-card-3 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    #list-card-4 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .menu {
        margin-top: -60px;
    }
    .menu_container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
    }
    .footer {
        @include flexbox-center;
        &_bloc {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_link {
            display: flex;
            justify-content: space-between;
        }
    }

    .label_heart1-resto{
        right: 30px;
        top: -24px;
    }
}