.footer {
    width: 100%;
    background-color: #353535;
    display: flex;
    &_bloc {
        padding: 1rem 2rem;
        & .logo_footer {
            font-family: $font-title;
            font-size: 1.5rem;
            padding: 1rem 0;
        }
        & a {
            color: $color-white;
        }
    }
    &_link {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &_link_row {
        margin: .5rem 0;
        cursor: pointer;
        color: $color-white;
        &:hover .footer_link_row {
            text-decoration: underline;
        }
        & i {
         margin-right: .5rem;
        } 
    }
}