.loader {
    height: 100%;
    background: $color-primary-light;
    margin: auto;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 20;
    animation: loader 3s linear ;
    visibility: hidden;
    &_border {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1rem solid /*transparent*/ $color-primary-light;
        border-top: 1rem solid $color-primary;
        border-bottom: 1rem solid $color-secondary;
        border-radius: 9rem;
        width: 100px;
        height: 100px;
        margin: auto;
        position: fixed;
        top: 0; left: 0; right: 0; bottom: 0;
        animation: loader-border 3s linear ;
        z-index: 10;
        visibility: hidden;
    }
    &_center {
        width: 50px;
        height: 50px;
        border-radius: 6rem;
        border: 1rem solid /*transparent*/ $color-primary-light;
        border-top: 1rem solid $color-secondary;
        border-bottom: 1rem solid $color-primary;
        animation: loader-border-in 3s linear;
    }
}