/********** Import/Sass **********/

@import "Sass/bases/font";
@import "Sass/utils/_variables";
@import "Sass/utils/_mixins.scss";
@import "Sass/utils/keyframes";
@import "Sass/bases/_base.scss";
@import "Sass/components/_button.scss";
@import "Sass/components/animation";
@import "Sass/pages/menus";
@import "Sass/layout/_footer.scss";


/********** Media Queries **********/

@media screen and (min-width: 800px){
    .menu {
        margin-top: -60px;
    }
    .menu_container {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
    }
    .footer {
        @include flexbox-center;
        &_bloc {
            margin-bottom: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &_link {
            display: flex;
            justify-content: space-between;
        }
    }

    .label_heart1-resto{
        right: 30px;
        top: -24px;
    }
}


    

    
