@import "Sass/bases/font";
@import "Sass/utils/_variables";
@import "Sass/utils/_mixins.scss";
@import "Sass/utils/keyframes";
@import "Sass/bases/_base.scss";
@import "Sass/components/_button.scss";
@import "Sass/layout/_footer.scss";

main {
    position: relative;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    & p {
        margin: 0 0 1rem 0;
        font-family: $font-title;
        font-size: 2rem; 
    } 
    & i {
        margin: 0 0 0 1rem;
        position: absolute;
        left: 1rem;
        top: 1rem;
    }
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    & img {
        object-fit: cover;
        width: 100%;
        height: 250px;
        z-index: -1;
    }
}

.menu {
    border-radius: 2rem 2rem 0 0;
    margin-top: -26px;
    background-color: $color-bc-light;
    width: 100%;
    padding: 2rem 0 2rem 0;
    &_card {
        animation: opacity 1s both;
    }  
}

.menu_title {
    display: flex;
    margin: 0 0 2rem 1rem;
    font-family: $font-title;
    position: relative;
    & .heart {
        display: flex;
        position: absolute;
        right: 1rem;
        top: .5rem;
        font-size: 1.5rem;
    }
}

.menu_container {
    margin: 0 1rem;
    &_content {
        & h3 {
            margin: 2rem 0;
            position: relative;
            text-transform: uppercase;
            &::after {
                content: '';
                width: 50px;
                height: 4px;
                background: $color-tertiary;
                position: absolute;
                z-index: 100;
                left: 0px; bottom: -8px ;
            }        
        }
    }
}

.menu_card_content {
    background-color: $color-white;
    @include border-card;
    padding: 1rem;
    position: relative;
    margin: 0 0 1rem 0;
    &_title {
        margin: 0;
        font-weight: bold;
    }
    &_describ {
        margin: .3rem 0 0 0;
        font-weight: lighter;
        font-size: .8rem;
    }
    &_price {
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-weight: bold;
        font-size: .8rem;
    }
    &_select {
        display: none;
    }
}

.btn {
    padding: 1rem 3rem;
}


#card_1 {
    animation-delay: 0.1s;
}

#card_2 {
    animation-delay: 0.3s;
}

#card_3 {
    animation-delay: 0.5s;
}

#card_4 {
    animation-delay: 0.7s;
}

#card_5 {
    animation-delay: 0.9s;
}

#card_6 {
    animation-delay: 1.1s;
}

#card_7 {
    animation-delay: 1.3s;
}

#card_8 {
    animation-delay: 1.5s;
}

#card_9 {
    animation-delay: 1.7s;
}

#card_10 {
    animation-delay: 1.9s;
}
