@import "Sass/bases/_font";
@import "Sass/utils/_variables";
@import "Sass/utils/_mixins.scss";
@import "Sass/utils/keyframes";
@import "Sass/bases/_base.scss";
@import "Sass/components/_button.scss";
@import "Sass/layout/loader";
@import "Sass/layout/header";
@import "Sass/layout/_footer.scss";


.menu {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    &_list_link {
        position: relative;
        display: flex;
        padding: 1rem;
        margin: 1.5rem 0;
        background-color: $color-bc-light;
        @include border-card;
        align-items: center;
        &:hover {
            background-color: $color-primary-light;
        }
        & span {
            position: absolute;
            left: -.7rem;
            padding: .2rem .4rem;
            background-color: $color-primary;
            color: $color-white;
            border-radius: 100%;
        }
        & i {
            margin: 0 1rem;
            color: $color-bc-dark;   
        }
        & p {
            margin: 0;
        }
    }
    & h2 {
        font-weight: bold;
    }
}

.restaurant {
    background-color: $color-bc-light;
    padding: 2rem 0 2rem 0;
    & h2 {
        margin: 1rem 0 0 1rem;
    }
}

.restaurant_list {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4";
}

#list-card-1 {
    grid-area: card-1;
}
#list-card-2 {
    grid-area: card-2;
}
#list-card-3 {
    grid-area: card-3;
}
#list-card-4 {
    grid-area: card-4;
}

.restaurant_list_card {
    display: flex;
    flex-direction: column;
    @include border-card;
    object-fit: cover;
    margin: 1rem;
    position: relative;
    
    & img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
}

.new {
    position: absolute;
    background-color: #99e2d0;
    padding: .3rem .5rem;
    color: #189576;
    top: 0;
    right: 10px;
}

.restaurant_list_card_info {
    margin: 1rem 0 1rem 1rem;
    position: relative;


    & h3 {
        margin: 0;
        font-weight: bold;
    }
    & p {
        margin: .3rem 0 0 0;
        font-weight: lighter;
    }
    & i {
        position: absolute;
        right: 20px;
        top: 10%;
        font-size: 2rem;
    }
}

.full {
    display: none;
}

.menu_list_link:hover > .fas {
    color: $color-primary;
}

@media screen and (min-width: 600px) {
    .restaurant_list_card {
        margin: 2rem 1rem;
}
    footer {
        text-align: center;
        & .logo_footer {
            font-size: 2rem;
            margin: 1rem 0 1rem 0;
        }
    }
    .footer_link {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        padding: 2rem 0;
        & i {
            font-size: 1rem;
        }
    }
    footer a {
        text-align: initial;
    }
}

@media screen and (min-width: 800px) {
    .menu_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 2rem;
    }

    .restaurant_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #list-card-2 {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    #list-card-3 {
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    #list-card-4 {
        grid-column-start: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}
