//********** base *********

body {
    margin: 0 auto;
    max-width: 1920px;
    padding: 0;
    font-family: $font-text;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}

h1 {
    margin: 0;
}