.button{
    width: 100%;
    text-align: center;
    margin: 2rem 0;
}

.btn {
    @include gradient;
    @include border-btn;
    color: $color-white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    &:hover {
        @include button-hover;
    }
}