//********** Variables **********

$color-primary: #9356DC;
$color-primary-light: RGBA(147,86,220,0.28);
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFFFFF;
$color-bc-light: #F2F2F2;
$color-bc-dark: #beb7b7;

$font-title: "shrikhand", sans-serif;
$font-text: "roboto", sans-serif;