//********** Variables **********

$color-primary: #9356DC;
$color-primary-light: #f5edff;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-white: #FFFFFF;
$color-bc-light: #F6F6F6;
$color-bc-dark: #eaeaea;


$font-title: "shrikhand", sans-serif;
$font-text: "roboto", sans-serif;